# Auto play test results

## Test affinities, affinity units, affinity resources

### Common settings

Create one save file with these settings and reuse the exact same save file:

- Random civs
- Random map
- Dwarf map
- All victory conditions enabled
- Gemini difficulty
- Always Peace enabled
- Auto play for 200 turns

### Test: Unique affinity per civ, no customised flavours

👉 Affinities are way lower! Seems like AI prioritises branch techs over leaf techs, at least in Rising Tide

Player: Kavitha Thakur
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 4
Affinity: AFFINITY_TYPE_PURITY level: 0
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 4
Xeno Swarm: 0
Xeno Cavalry: 0
Rocktopus: 0
Xeno Titan: 0

Player: Samatar Jama Barre
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 16
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total float stone: 27
Total titanium: 10
Total petroleum: 23
Battlesuit: 3
Aegis: 0
LEV Tank: 3
LEV Destroyer: 0

Player: Daoming Sochua
Cities: 5
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 0
Affinity: AFFINITY_TYPE_SUPREMACY level: 7
Total firaxite: 0
Total titanium: 38
Total petroleum: 49
CNDR: 0
CARVR: 0
SABR: 0
ANGEL: 0

Player: Rejinaldo de Alencar
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 3
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total float stone: 0
Total titanium: 33
Total petroleum: 55
Battlesuit: 0
Aegis: 0
LEV Tank: 0
LEV Destroyer: 0

### Test: Each civ has affinity flavour set to 12 and some other flavours tweaked, plus above

👉 No significant difference

Player: Kavitha Thakur
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 4
Affinity: AFFINITY_TYPE_PURITY level: 0
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 4
Xeno Swarm: 0
Xeno Cavalry: 0
Rocktopus: 0
Xeno Titan: 0

Player: Samatar Jama Barre
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 16
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total float stone: 27
Total titanium: 10
Total petroleum: 23
Battlesuit: 3
Aegis: 0
LEV Tank: 3
LEV Destroyer: 0

Player: Daoming Sochua
Cities: 5
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 0
Affinity: AFFINITY_TYPE_SUPREMACY level: 7
Total firaxite: 0
Total titanium: 38
Total petroleum: 49
CNDR: 0
CARVR: 0
SABR: 0
ANGEL: 0

Player: Rejinaldo de Alencar
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 3
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total float stone: 0
Total titanium: 33
Total petroleum: 55
Battlesuit: 0
Aegis: 0
LEV Tank: 0
LEV Destroyer: 0

### Test: FLAVOR_SCIENCE set to 10

👉 No significant difference

Player: Kavitha Thakur
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 4
Affinity: AFFINITY_TYPE_PURITY level: 0
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 4
Xeno Swarm: 0
Xeno Cavalry: 0
Rocktopus: 0
Xeno Titan: 0

- at least 8 xenomass in territory but no improvement on it
- hardly any leaf techs researched

Player: Samatar Jama Barre
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 16
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total float stone: 27
Total titanium: 10
Total petroleum: 23
Battlesuit: 3
Aegis: 0
LEV Tank: 3
LEV Destroyer: 0

Player: Daoming Sochua
Cities: 5
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 0
Affinity: AFFINITY_TYPE_SUPREMACY level: 7
Total firaxite: 0
Total titanium: 38
Total petroleum: 49
CNDR: 0
CARVR: 0
SABR: 0
ANGEL: 0

- at least 4 firaxite tiles in territory, none improved, no idea if she even has the tech

Player: Rejinaldo de Alencar
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 3
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total float stone: 0
Total titanium: 33
Total petroleum: 55
Battlesuit: 0
Aegis: 0
LEV Tank: 0
LEV Destroyer: 0

- at least 3 float stone tiles in territory, none improved, no idea if she even has the tech

### Test: Technology affinity flavours to 100

👉 Big difference!
Total affinity units: 18

Player: Kavitha Thakur
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 9
Affinity: AFFINITY_TYPE_PURITY level: 0
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 15
Total firaxite: 0
Total float stone: 0
Total titanium: 17
Total petroleum: 9
Xeno Swarm: 1
Xeno Cavalry: 0
Rocktopus: 0
Xeno Titan: 0

Player: Samatar Jama Barre
Cities: 2
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 14
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 0
Total firaxite: 0
Total float stone: 34
Total titanium: 4
Total petroleum: 0
Battlesuit: 3
Aegis: 0
LEV Tank: 0
LEV Destroyer: 0

Player: Daoming Sochua
Cities: 5
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 0
Affinity: AFFINITY_TYPE_SUPREMACY level: 17
Total xenomass: 0
Total firaxite: 39
Total float stone: 0
Total titanium: 72
Total petroleum: 72
CNDR: 0
CARVR: 0
SABR: 6
ANGEL: 0

Player: Rejinaldo de Alencar
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 15
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 0
Total firaxite: 0
Total float stone: 15
Total titanium: 43
Total petroleum: 81
Battlesuit: 5
Aegis: 0
LEV Tank: 3
LEV Destroyer: 0

### Test: Unit affinity flavours to 100

#### Test 1

Total affinity units: 18

👉 A bit worse ??

Player: Kavitha Thakur
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 8
Affinity: AFFINITY_TYPE_PURITY level: 0
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 0
Total firaxite: 0
Total float stone: 0
Total titanium: 17
Total petroleum: 14
Xeno Swarm: 0
Xeno Cavalry: 0
Rocktopus: 0
Xeno Titan: 0

Player: Samatar Jama Barre
Cities: 4
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 15
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 0
Total firaxite: 0
Total float stone: 32
Total titanium: 15
Total petroleum: 2
Battlesuit: 5
Aegis: 0
LEV Tank: 1
LEV Destroyer: 0

Player: Daoming Sochua
Cities: 4
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 0
Affinity: AFFINITY_TYPE_SUPREMACY level: 17
Total xenomass: 0
Total firaxite: 19
Total float stone: 0
Total titanium: 46
Total petroleum: 51
CNDR: 10
CARVR: 0
SABR: 2
ANGEL: 0

Player: Rejinaldo de Alencar
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 3
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 0
Total firaxite: 0
Total float stone: 0
Total titanium: 40
Total petroleum: 84
Battlesuit: 0
Aegis: 0
LEV Tank: 0
LEV Destroyer: 0

#### Test 2

Total affinity units: 22

Player: Kavitha Thakur
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 9
Affinity: AFFINITY_TYPE_PURITY level: 0
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 15
Total firaxite: 0
Total float stone: 0
Total titanium: 21
Total petroleum: 9
Xeno Swarm: 0
Xeno Cavalry: 0
Rocktopus: 0
Xeno Titan: 0

Player: Samatar Jama Barre
Cities: 2
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 14
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 0
Total firaxite: 0
Total float stone: 34
Total titanium: 4
Total petroleum: 0
Battlesuit: 3
Aegis: 0
LEV Tank: 1
LEV Destroyer: 0

Player: Daoming Sochua
Cities: 5
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 0
Affinity: AFFINITY_TYPE_SUPREMACY level: 17
Total xenomass: 0
Total firaxite: 39
Total float stone: 0
Total titanium: 72
Total petroleum: 72
CNDR: 4
CARVR: 0
SABR: 4
ANGEL: 0

Player: Rejinaldo de Alencar
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 11
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 0
Total firaxite: 0
Total float stone: 12
Total titanium: 43
Total petroleum: 81
Battlesuit: 10
Aegis: 0
LEV Tank: 0
LEV Destroyer: 0

#### Test 3

Player: Kavitha Thakur
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 9
Affinity: AFFINITY_TYPE_PURITY level: 0
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 15
Total firaxite: 0
Total float stone: 0
Total titanium: 21
Total petroleum: 9
Xeno Swarm: 0
Xeno Cavalry: 0
Rocktopus: 0
Xeno Titan: 0

Player: Samatar Jama Barre
Cities: 2
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 14
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 0
Total firaxite: 0
Total float stone: 34
Total titanium: 4
Total petroleum: 0
Battlesuit: 3
Aegis: 0
LEV Tank: 1
LEV Destroyer: 0

Player: Daoming Sochua
Cities: 5
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 0
Affinity: AFFINITY_TYPE_SUPREMACY level: 17
Total xenomass: 0
Total firaxite: 39
Total float stone: 0
Total titanium: 72
Total petroleum: 72
CNDR: 4
CARVR: 0
SABR: 4
ANGEL: 0

Player: Rejinaldo de Alencar
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 11
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 0
Total firaxite: 0
Total float stone: 12
Total titanium: 43
Total petroleum: 81
Battlesuit: 10
Aegis: 0
LEV Tank: 0
LEV Destroyer: 0

### Set resource affinity and victory flavours

Affinity units: 13

Player: Kavitha Thakur
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 9
Affinity: AFFINITY_TYPE_PURITY level: 0
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 15
Total firaxite: 0
Total float stone: 0
Total titanium: 27
Total petroleum: 10
Xeno Swarm: 0
Xeno Cavalry: 0
Rocktopus: 0
Xeno Titan: 0

Player: Samatar Jama Barre
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 18
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 0
Total firaxite: 0
Total float stone: 39
Total titanium: 2
Total petroleum: 2
Battlesuit: 3
Aegis: 0
LEV Tank: 1
LEV Destroyer: 0

Player: Daoming Sochua
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 0
Affinity: AFFINITY_TYPE_SUPREMACY level: 16
Total xenomass: 0
Total firaxite: 11
Total float stone: 0
Total titanium: 27
Total petroleum: 36
CNDR: 5
CARVR: 0
SABR: 1
ANGEL: 0

Player: Rejinaldo de Alencar
Cities: 4
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 11
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 0
Total firaxite: 0
Total float stone: 0
Total titanium: 67
Total petroleum: 67
Battlesuit: 3
Aegis: 0
LEV Tank: 0
LEV Destroyer: 0

### More moderate flavours for technologies, units, removed flavours for resources

- About 1.5x max value of existing flavours

Player: Kavitha Thakur
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 3
Affinity: AFFINITY_TYPE_PURITY level: 0
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 0
Total firaxite: 0
Total float stone: 0
Total titanium: 23
Total petroleum: 22
Xeno Swarm: 0
Xeno Cavalry: 0
Rocktopus: 0
Xeno Titan: 0

Player: Samatar Jama Barre
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 18
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 0
Total firaxite: 6
Total float stone: 54
Total titanium: 58
Total petroleum: 19
Battlesuit: 3
Aegis: 1
LEV Tank: 1
LEV Destroyer: 1

Player: Daoming Sochua
Cities: 5
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 0
Affinity: AFFINITY_TYPE_SUPREMACY level: 18
Total xenomass: 0
Total firaxite: 25
Total float stone: 0
Total titanium: 51
Total petroleum: 67
CNDR: 3
CARVR: 0
SABR: 1
ANGEL: 0

Player: Rejinaldo de Alencar
Cities: 2
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 5
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 0
Total firaxite: 0
Total float stone: 0
Total titanium: 27
Total petroleum: 54
Battlesuit: 0
Aegis: 0
LEV Tank: 0
LEV Destroyer: 0

### Test: Unit affinity flavours to 100, Soyuz difficulty

- Revert last 2 changes, no meaningful impact

#### Test 1

Player: Daoming Sochua
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 0
Affinity: AFFINITY_TYPE_SUPREMACY level: 13
Total xenomass: 0
Total firaxite: 27
Total float stone: 0
Total titanium: 21
Total petroleum: 15
CNDR: 7
CARVR: 0
SABR: 2
ANGEL: 0

Player: Kavitha Thakur
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 18
Affinity: AFFINITY_TYPE_PURITY level: 0
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 31
Total firaxite: 0
Total float stone: 0
Total titanium: 20
Total petroleum: 5
Xeno Swarm: 3
Xeno Cavalry: 3
Rocktopus: 0
Xeno Titan: 0

Player: Lena Ebner
Cities: 2
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 12
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 0
Total firaxite: 0
Total float stone: 23
Total titanium: 15
Total petroleum: 3
Battlesuit: 8
Aegis: 0
LEV Tank: 0
LEV Destroyer: 0

Player: Hutama
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 17
Affinity: AFFINITY_TYPE_PURITY level: 0
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 4
Total firaxite: 0
Total float stone: 0
Total titanium: 21
Total petroleum: 0
Xeno Swarm: 5
Xeno Cavalry: 0
Rocktopus: 0
Xeno Titan: 0

#### Test 2

Player: Hutama
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 14
Affinity: AFFINITY_TYPE_PURITY level: 1
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 15
Total firaxite: 0
Total float stone: 0
Total titanium: 27
Total petroleum: 4
Xeno Swarm: 4
Xeno Cavalry: 0
Rocktopus: 0
Xeno Titan: 0

Player: Arshia Kishk
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 18
Affinity: AFFINITY_TYPE_PURITY level: 0
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 39
Total firaxite: 0
Total float stone: 0
Total titanium: 29
Total petroleum: 24
Xeno Swarm: 9
Xeno Cavalry: 0
Rocktopus: 0
Xeno Titan: 0

Player: Lena Ebner
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 15
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 0
Total firaxite: 0
Total float stone: 6
Total titanium: 4
Total petroleum: 26
Battlesuit: 4
Aegis: 0
LEV Tank: 1
LEV Destroyer: 0

Player: Rejinaldo de Alencar
Cities: 3
Affinity: AFFINITY_TYPE_HARMONY level: 0
Affinity: AFFINITY_TYPE_PURITY level: 18
Affinity: AFFINITY_TYPE_SUPREMACY level: 0
Total xenomass: 0
Total firaxite: 0
Total float stone: 12
Total titanium: 9
Total petroleum: 16
Battlesuit: 14
Aegis: 1
LEV Tank: 2
LEV Destroyer: 0
